#wrapper{width: 1904px; margin: 0 auto; position: relative; top: 0;}
h1{margin: 0;}
main{border-left: 1px solid #aaa; border-right:1px solid #aaa; padding: 20px 10px 0 10px}
footer{background-color: #aaa; height: 50px; line-height: 50px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; text-align: center;}