.chabad {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #4C4C4C; 
	text-decoration: none;
	text-align: left;
}
.chabad a:link {	color: #4C4C4C; text-decoration: underline; }
.chabad a:visited {	color: #4C4C4C; text-decoration: underline; }
.chabad a:hover {	color: #727272; }
table.chabad .label { white-space: nowrap }

#table1 { width: 100%; }

.successmsg {
	color: #2f4f2f;
}

.sidebar p {
	margin-bottom: 10px;
}

.chabad-header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	color: #4C4C4C;
}

.main-content {
	width: 520px;
}

.texter {
	display: none;
}

@media print {
	.texter { display: block }
}

.chabad-sub-info {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #727272;
}
.chabad-sub-info a:link {	color: #727272; text-decoration: none; }
.chabad-sub-info a:visited {	color: #727272; text-decoration: none; }
.chabad-sub-info a:hover {	color: #727272; text-decoration: underline; }

.chabad-small
{
    font-family: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10.5px;
    COLOR: #000000;
    line-height: 13px;
}

.verdana10pxGray {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #727272; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.chabad-med {
    FONT-SIZE: 11px;
    COLOR: #4C4C4C;
	text-align: left;
}

.linknoline {	font-family: Arial, Helvetica, sans-serif;	font-size: 12px; line-height: 18px;	color: #4C4C4C;}
.linknoline a:link {	color: #4C4C4C; text-decoration: none; font-weight:none }
.linknoline a:visited {	color: #4C4C4C;text-decoration: none; font-weight:none }
.linknoline a:hover {	text-decoration: underline; color: #727272;}

.linkyesline {	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	line-height: 18px;	color: #4C4C4C;}
.linkyesline a:link {	color: #4C4C4C; text-decoration: underline; font-weight:none }
.linkyesline a:visited {	color: #4C4C4C;text-decoration: underline; font-weight:none }
.linkyesline a:hover {	text-decoration: none; color: #727272;}

/* honeypot for spam bots */
form[name="form"] input[name="username"] {
	display: none;
}

/* CANDLE LIGHTING TIMES */
.CLTable {  
	Background-Color: #E6E7E8;
	Border-Color: #A0C6E5;
	Font-Size: 11px;
}
.CLHeadingBold {
	Font-Family: Tahoma, Arial, Verdana;
	Font-Size: 11px;
	Text-Align: center;
	Font-Weight: bold;    
}
.CLheading {  
	Font-Family: Tahoma, Arial, Verdana;
	Font-Size: 11px;
	Text-Align: center;
	Color: #4C4C4C;
}
A.CLLink {
	Font-Family: Tahoma, Arial, Verdana;
	Font-Size: 9px;
	Text-Align: center;
	Color: #4C4C4C;
	Text-Decoration: none;
}
A.CLLink:Hover {
	Font-Family: Tahoma, Arial, Verdana;
	Font-Size: 9px;
	Text-Align: center;
	Color: #4C4C4C;
	Text-Decoration: underline;
}

.CLTable A {
	color: #4c4c4c;
}

.CLdate {  
	Font-Family: Tahoma, Arial, Verdana;
	Font-Size: 10px;
	Text-Align: left;
	Font-Weight: bold;
	text-decoration: none;    
}
.CLTime {  
	Font-Family: Tahoma, Arial, Verdana;
	Font-Size: 10px;
	Text-Align: left;
	Font-Weight: normal;
	Margin-Bottom: 0px;
}
.CLhr {
	color: #4C4C4C;
	height: 1px;
	height: 1px;
	width: 50%;
}
.CLHolName {
	font-weight:normal;
}	
