body {
	color: #666;
	background: #fff;
	margin: 0;
}
nav, header, section, article, h1, h2, h3, h4, p {
	display: block;
	margin: 0;
}

/*print*/
@media print {
	body {
		font: 12pt Times New Roman, serif;
		color: #333;
		margin: 10px;
	}
	h1 {
		font-size: 24pt;
		font-weight: bold;
		margin: 20px 0;
	}
	h2 {
		font-size: 18pt;
		font-weight: bold;
	}
	h3 {
		font-size: 16pt;
		font-weight: bold;
	}
	nav, img, ul, a, article span, aside {
		display: none;
	}
	article p {
		margin-top: 15px;
	}
}

/*all @media screens*/
@media screen {
	body {
		background: url("../images/torah_star.jpg") no-repeat #999;
		background-size: cover;
	}
	#wrapper {
		width: 100%;
		position: relative;
		margin: 0 auto;
		background: #333;
	}
	header {
		width: 100%;
		position: absolute;
		top: 0;
	}
	h1 {
		background: rgba(0, 0, 0, 0.5);
		background: -webkit-linear-gradient(top, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.8));
		background: -o-linear-gradient(top, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.8));
		background: -moz-linear-gradient(top, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.8));
		background: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.8));
		margin: 0;
		padding: 25px;
	}
	h1 a {
		color: #fff;
		text-shadow: 1px 1px 1px black, 0 0 50px black, 0 0 5px black;
		font-family: 'Perpetua Titling', serif;
		letter-spacing: 1px;
	}
	h1 a:hover {
		color: #fff;
	}
	h2 {
		color: #333;
	}
	h3 {
		font-family: 'Alef', Arial, sans-serif;
		letter-spacing: 1px;
		font-size: 1.5em;
		padding: 0 15px;
		margin-bottom: 20px;
	}

	.nav > li li a {
		border-bottom: 1px solid #777;
	}
	.nav > li li:last-child a {
		border-bottom: none;
	}

	#students {
		background-color: #00274c;
	}
	#adults {
		background-color: #7a1501;
	}
	#youth {
		background-color: #336666;
	}
	#events {
		background-color: #cf7019;
	}
	#contact_us {
		background-color: #7b7000;
	}
	#donate {
		background-color: #514e86;
	}
	#content {
		padding: 50px 0;
	}

	#pageContent > .row {
		margin: 50px auto;
	}
	#pageContentCol {
		background: rgba(255, 255, 255, 0.6);
		border: 1px solid #ababab;
	}

	#sideColumn {
		margin-top: 30px;
		padding: 10px 10px 10px 50px;
	}

	#homeSections {
		padding: 30px 15px 30px 15px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	#homeSections img {
		width: 100%;
	}
	#homeSections p {
		font-size: 1em;
		line-height: 1.5;
		padding: 10px 15px 0;
		overflow: hidden;
		margin: 0;
	}

	#students_article,
	#youth_article,
	#adults_article {
		display: flex;
		flex-direction: column;
		margin: 0 5px;
	}

	#students_article h3 {
		color: #fbcb07;
		font-size: 1.5em;
	}
	#students_article p {
		color: #fbcb07;
	}
	#youth_article h3,
	#adults_article h3 {
		color: #fff;
		font-size: 1.5em;
	}
	#youth_article p,
	#adults_article p {
		color: #fff;
	}
	#youth_article {
		background-color: #336666;
	}
	#students_article {
		background-color: #00274c;
	}
	#adults_article {
		background-color: #7a1501;
	}
	#students_article,
	#youth_article,
	#adults_article {
		padding: 0;
		padding-bottom: 30px;
	}
	a.readMore {
		font-size: .75em;
		color: #ccc;
		position: absolute;
		bottom: 15px;
		right: 15px;
	}

	a:hover.readMore {
		color: #fff;
		text-decoration: underline;
	}

	.ad {
		margin: 0 0 50px;
		padding: 0;
	}

	.bottom {
		background-color: #333;
	}
	.bottom .col-xs-8 {
		background-color: #373737;
	}
	.bottom p {
		color: #ccc;
		text-align: center;
		margin-top: 20px;
		font-size: 1em;
		line-height: 1.75em;
	}
}

/*small-to-medium devices (phones) */
@media screen and (max-width: 1023px) {
	.jumbotron {
		display: none;
	}
	header {
		background: url("../images/chabad_small2.jpg") no-repeat left bottom #333;
		background-size: cover;
		width: 100%;
		height: 300px;
	}
	h1 {
		margin: 10px;
	}
	#wrapper {
		margin-top: 0;
	}
	#pageContentCol {
		padding: 0;
	}
	#pageContent > .row {
		margin: 20px auto;
	}
}

/* small phones */
@media screen and (max-width: 767px) {
	nav.navbar.navbar-inverse {
		margin-top: 200px;
	}
	#navBar .nav .dropdown-menu {
		padding: 0;
	}
	#navBar .nav .dropdown-menu a {
		padding: 15px;
	}
	a#students.dropdown-toggle,
	a#youth.dropdown-toggle,
	a#adults.dropdown-toggle,
	a#events.dropdown-toggle,
	a#contact_us.dropdown-toggle,
	a#donate.dropdown-toggle {
		width: 100%;
	}
	header {
		height: 200px;
	}
	div#homeSections.row {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	div#students_article.col-sm-4,
	div#youth_article.col-sm-4,
	div#adults_article.col-sm-4 {
		margin: 0;
	}
	#students_article p,
	#youth_article p,
	#adults_article p {
		font-size: 1.25em;
	}
}

/* medium phones and tablet portrait */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	form {
		width: 100%;
	}

	nav.navbar.navbar-inverse {
		margin-top: 300px;
	}
	nav.navbar .navbar-collapse .navbar-nav {
		display: inline-block;
		float: none;
	}
	nav.navbar .navbar-collapse {
		text-align: center;
		margin-bottom: -5px;
	}

	a#students.dropdown-toggle,
	a#youth.dropdown-toggle,
	a#adults.dropdown-toggle,
	a#events.dropdown-toggle,
	a#contact_us.dropdown-toggle,
	a#donate.dropdown-toggle {
		width: 100%;
	}
	#students_article p,
	#youth_article p,
	#adults_article p {
		font-size: 1.25em;
	}
}

/*tablet landscape or desktop */
@media screen and (min-width: 1024px) {
	.dropdown-menu {
		border-radius: 0;
	}

	h3, p {
		padding: 0 15px 5px;
	}

	nav ul li a {
		font-size: 1.25em;
	}

	#students_article,
	#youth_article,
	#adults_article {
		margin: 0 8px;
	}
}
