/secrets.php
/.data/
/public/.htaccess
/public/license.txt
/public/readme.html
/public/wp-activate.php
/public/wp-admin/
/public/wp-blog-header.php
/public/wp-comments-post.php
/public/wp-config-sample.php
/public/wp-content/themes/index.php
/public/wp-content/themes/twentyfifteen/
/public/wp-content/themes/twentyfourteen/
/public/wp-content/themes/twentysixteen/
/public/wp-cron.php
/public/wp-includes/
/public/wp-links-opml.php
/public/wp-load.php
/public/wp-login.php
/public/wp-mail.php
/public/wp-settings.php
/public/wp-signup.php
/public/wp-trackback.php
/public/xmlrpc.php
