body {
	color: #666;
	background: #fff;
	margin: 0;
}
nav, header, section, article, h1, h2, h3, h4, p {
	display: block;
	margin: 0;
}

.chabad-header:first-of-type {font-size: 24px !important; margin-bottom: 20px; color: #666; font-family: 'Perpetua Titling', serif;}

/*print*/
@media print {
	body {
		font: 12pt Times New Roman, serif;
		color: #333;
		margin: 10px;
	}
	h1 {
		font-size: 24pt;
		font-weight: bold;
		margin: 20px 0;
	}
	h2 {
		font-size: 18pt;
		font-weight: bold;
	}
	h3 {
		font-size: 16pt;
		font-weight: bold;
	}
	nav, img, ul, a, article span, aside {
		display: none;
	}
	article p {
		margin-top: 15px;
	}
	#carousel {
		display: none;
	}
}

/*all @media screens*/
@media screen {
	body {
		background: url("assets/images/torah_star.jpg") no-repeat #999;
		background-size: cover;
	}
	header {
		background: center no-repeat #333;
		background-size: cover;
		min-height: 300px;
	}
	header h1 {
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 100;
		background: rgba(0, 0, 0, 0.5);
		background: -webkit-linear-gradient(top, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.8));
		background: -o-linear-gradient(top, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.8));
		background: -moz-linear-gradient(top, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.8));
		background: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.8));
		padding: 25px;
	}
	header h1 a {
		color: white;
		text-shadow: 1px 1px 1px black, 0 0 50px black, 0 0 5px black;
		font-family: 'Perpetua Titling', serif;
		letter-spacing: 1px;
	}
	header h1 a:hover {
		color: #fff;
	}
	header .carousel-inner img {
		margin: 0 auto;
	}

	h2 {
		color: #333;
	}
	h3 {
		font-family: 'PT Sans', Arial, sans-serif;
		letter-spacing: 1px;
		font-size: 1.5em;
		padding: 0 15px;
		margin-bottom: 20px;
	}

	.nav > li li a {
		border-bottom: 1px solid #777;
	}
	.nav > li li:last-child a {
		border-bottom: none;
	}

	#students, #students_article {
		background-color: #00274c;
	}
	#adults, #adults_article {
		background-color: #6BA939;
	}
	#youth, #youth_article {
		background-color: #336666;
	}
	#events {
		background-color: #cf7019;
	}
	#contact_us {
		background-color: #7a1501;
	}
	#donate {
		background-color: #514e86;
	}
	#content {
		padding: 50px 0;
	}

	#pageContent > .row {
		margin: 50px auto;
	}
	#pageContent .pageContentWrapperCol {
		padding: 30px;
		background: rgba(255,255,255,0.75);
	}

	#pageContent .sidebar {
		border-left: 1px solid #ababab;
		text-align: center;
		width: 230px;
	}

	.home #pageContent .pageContentWrapperCol {
		background: none;
	}
	#homeSections {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	#homeSections img {
		width: 100%;
	}
	#homeSections p {
		font-size: 1em;
		line-height: 1.5;
		padding: 0 15px;
		overflow: hidden;
		margin: 0;
	}

	#students_article,
	#youth_article,
	#adults_article {
		display: flex;
		flex-direction: column;
		margin: 0 5px;
		padding: 0;
		padding-bottom: 30px;
	}

	#students_article h3,
 	#students_article p {
		color: #fbcb07;
	}
	#youth_article h3,
	#adults_article h3,
	#youth_article p,
	#adults_article p {
		color: #fff;
	}

	a.readMore {
		font-size: .75em;
		color: #ccc;
		position: absolute;
		bottom: 15px;
		right: 15px;
	}

	a:hover.readMore {
		color: #fff;
		text-decoration: underline;
	}

	.ad {
		margin: 0 0 50px;
		padding: 0;
	}

	.bottom {
		background-color: #333;
	}
	.bottom .col-xs-8 {
		background-color: #373737;
	}
	.bottom p {
		color: #ccc;
		text-align: center;
		margin-top: 20px;
		font-size: 1em;
		line-height: 1.75em;
	}
}

/*small-to-medium devices (phones) */
@media screen and (max-width: 1023px) {
	.sidebar {
		display: none;
	}
	#carousel {
		display: none;
	}
	#pageContent .pageContentWrapperCol {
		padding: 15px;
	}
	#pageContent > .row {
		margin: 20px auto;
	}
}

/* small phones */
@media screen and (max-width: 767px) {
	header {
		min-height: 200px;
	}

	#navBar .nav .dropdown-menu {
		padding: 0;
	}
	#navBar .nav .dropdown-menu a {
		padding: 15px;
	}
	a#students.dropdown-toggle,
	a#youth.dropdown-toggle,
	a#adults.dropdown-toggle,
	a#events.dropdown-toggle,
	a#contact_us.dropdown-toggle,
	a#donate.dropdown-toggle {
		width: 100%;
	}
	div#homeSections.row {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.home #pageContent .pageContentWrapperCol {
		padding: 0;
	}
	div#students_article.col-sm-4,
	div#youth_article.col-sm-4,
	div#adults_article.col-sm-4 {
		margin: 10px;
	}
	#students_article p,
	#youth_article p,
	#adults_article p {
		font-size: 1.25em;
	}
	#youth_article h3, #adults_article h3, #students_article h3 {
		padding: 0px 0;
	}
	#rc-imageselect, .g-recaptcha {
		transform:scale(0.57);
		-webkit-transform:scale(0.67);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}
}

/* medium phones and tablet portrait */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	form {
		width: 100%;
	}

	nav.navbar .navbar-collapse .navbar-nav {
		display: inline-block;
		float: none;
	}
	nav.navbar .navbar-collapse {
		text-align: center;
		margin-bottom: -5px;
	}

	a#students.dropdown-toggle,
	a#youth.dropdown-toggle,
	a#adults.dropdown-toggle,
	a#events.dropdown-toggle,
	a#contact_us.dropdown-toggle,
	a#donate.dropdown-toggle {
		width: 100%;
	}
	#students_article p,
	#youth_article p,
	#adults_article p {
		font-size: 1.25em;
	}
}

/*tablet landscape or desktop */
@media screen and (min-width: 1024px) {
	.dropdown-menu {
		border-radius: 0;
	}

	.home h3, .home p {
		padding: 20px 15px 5px;
	}

	nav ul li a {
		font-size: 1.25em;
	}

	/* Horizontally center the navbar */
	nav.navbar {
		display: flex;
		justify-content: center;
	}

	#students_article,
	#youth_article,
	#adults_article {
		margin: 0 8px;
	}
	#pageContent.has-sidebar .pageContentCol {
		width: calc(100% - 230px);
	}

}


/* CONTACT FORM 7 */

.wpcf7-form input,
.wpcf7-form textarea,
.wpcf7-form select {
	width: 98%;
}

/* END CONTACT FORM 7 */


/**
 * BEGIN LEGACY jewmich.COM CSS
 * This CSS is solely for backwards-compatibility with old pages
 */
.chabad {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #4C4C4C; 
	text-decoration: none;
	text-align: left;
}
.chabad a:link {	color: #4C4C4C; text-decoration: underline; }
.chabad a:visited {	color: #4C4C4C; text-decoration: underline; }
.chabad a:hover {	color: #727272; }
table.chabad .label { white-space: nowrap }

#table1 {
	width: 100%;
	table-layout: fixed;
}

.successmsg {
	color: #2f4f2f;
}

.sidebar p {
	margin-bottom: 10px;
}

.chabad-header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	color: #4C4C4C;
}

.main-content {
	width: 520px;
}

.texter {
	display: none;
}

@media print {
	.texter { display: block }
}

.chabad-sub-info {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #727272;
}
.chabad-sub-info a:link {	color: #727272; text-decoration: none; }
.chabad-sub-info a:visited {	color: #727272; text-decoration: none; }
.chabad-sub-info a:hover {	color: #727272; text-decoration: underline; }

.chabad-small {
	font-family: Arial, Helvetica, sans-serif;
	FONT-SIZE: 10.5px;
	COLOR: #000000;
	line-height: 13px;
}

.verdana10pxGray {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #727272; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.chabad-med {
	FONT-SIZE: 11px;
	COLOR: #4C4C4C;
	text-align: left;
}

.linknoline {	font-family: Arial, Helvetica, sans-serif;	font-size: 12px; line-height: 18px;	color: #4C4C4C;}
.linknoline a:link {	color: #4C4C4C; text-decoration: none; font-weight:none }
.linknoline a:visited {	color: #4C4C4C;text-decoration: none; font-weight:none }
.linknoline a:hover {	text-decoration: underline; color: #727272;}

.linkyesline {	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	line-height: 18px;	color: #4C4C4C;}
.linkyesline a:link {	color: #4C4C4C; text-decoration: underline; font-weight:none }
.linkyesline a:visited {	color: #4C4C4C;text-decoration: underline; font-weight:none }
.linkyesline a:hover {	text-decoration: none; color: #727272;}

/* honeypot for spam bots */
form[name="form"] input[name="username"] {
	display: none;
}

/* CANDLE LIGHTING TIMES */
.CLTable {
	Background-Color: #E6E7E8;
	Border-Color: #A0C6E5;
	Font-Size: 11px;
}
.CLHeadingBold {
	Font-Family: Tahoma, Arial, Verdana;
	Font-Size: 11px;
	Text-Align: center;
	Font-Weight: bold;
}
.CLheading {
	Font-Family: Tahoma, Arial, Verdana;
	Font-Size: 11px;
	Text-Align: center;
	Color: #4C4C4C;
}
A.CLLink {
	Font-Family: Tahoma, Arial, Verdana;
	Font-Size: 9px;
	Text-Align: center;
	Color: #4C4C4C;
	Text-Decoration: none;
}
A.CLLink:Hover {
	Font-Family: Tahoma, Arial, Verdana;
	Font-Size: 9px;
	Text-Align: center;
	Color: #4C4C4C;
	Text-Decoration: underline;
}

.CLTable A {
	color: #4c4c4c;
}

.CLdate {
	Font-Family: Tahoma, Arial, Verdana;
	Font-Size: 10px;
	Text-Align: left;
	Font-Weight: bold;
	text-decoration: none;
}
.CLTime {
	Font-Family: Tahoma, Arial, Verdana;
	Font-Size: 10px;
	Text-Align: left;
	Font-Weight: normal;
	Margin-Bottom: 0px;
}
.CLhr {
	color: #4C4C4C;
	height: 1px;
	height: 1px;
	width: 50%;
}
.CLHolName {
	font-weight:normal;
}	
/**
 * END LEGACY jewmich.COM CSS
 */

/**
* FORM-SPECIFIC CSS
*/

div#nf-form-3-cont.nf-form-cont {
	margin-top: 20px;
}
div#nf-form-3-cont.nf-form-cont h3, div#nf-form-2-cont.nf-form-cont h4 {
	padding: 0;
}
div#nf-form-2-cont.nf-form-cont h3 {
	font-size: 2em;
}
.nf-form-title h3 {
	padding: 0; margin-top: 30px;
	font-weight: bold;
	font-size: 21px;
}
hr.ninja-forms-field {
	border-top: 1px solid #ccc;
}
#register_top {
	text-align: center;
	padding: 10px 20px 20px;
}
#register_top a {
	font-size: 21px;
	font-weight: bold;
	color: #333;
}
#register_top a:hover {
	text-decoration: underline;
} 
#board {
	padding: 50px 20px 20px 15%;
}
#registration {
	margin-top: 30px;
}
.call_to_action {
	display: inline-block;
	width: 28%;
	height: 6em;
	margin-top: 10px !important;
	padding: 0 1%;
	float: left;
	text-align: center;
	font-size: 16px;
	line-height: 1.2;
	color: #800925;
	text-shadow: white 1px 1px 5px, #e8cfa7 0px 0px 15px, #e8cfa7 0px 0px 10px;
}
#registration p {
	margin: 20px 30% !important;
}
#registration a {
	color: #4b1709 !important;
}
#registration a:hover {
	text-decoration: underline !important;
}
#akervall a {
	color: #104985;
}
#akervall a:hover {
	color: #f4793c;
	text-decoration: underline;
}
div#nf-form-3-cont.nf-form-cont {
	color: black;
}
input#nf-field-46 {
	color: white;
	background: #7f0824;
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px 20px;
	border: 1px solid #7f0824;
}
input#nf-field-46:hover {
	color: #7f0824;
	background: white;
	font-weight: bold;
	padding: 10px 20px;
	border: 1px solid #7f0824;
}
.nf-response-msg a:hover {
	text-decoration: underline;
}
#akervall img, #jcc img, #federation img {
	float: left;
	width: 30%;
	height: auto;
	display: block;
	margin-left: 20px;
}
#chabad img {
	margin: 0 auto;
	display: block;
	width: 250px;
	height: auto;
}
#akervall img, #jcc img {
	padding-right: 5%;
}

@media only screen and (min-width: 768px) {
	#registration {
		width: 80%;
	}
	#registration p.button {
		margin: 30px 20%;
	}
}

/**
 * END FORM-SPECIFIC CSS
 */
