
# BEGIN All In One WP Security
#AIOWPS_BASIC_HTACCESS_RULES_START
<Files .htaccess>
<IfModule mod_authz_core.c>
Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
Order deny,allow
Deny from all
</IfModule>
</Files>
ServerSignature Off
LimitRequestBody 10240000
<Files wp-config.php>
<IfModule mod_authz_core.c>
Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
Order deny,allow
Deny from all
</IfModule>
</Files>
#AIOWPS_BASIC_HTACCESS_RULES_END
#AIOWPS_PINGBACK_HTACCESS_RULES_START
<Files xmlrpc.php>
<IfModule mod_authz_core.c>
Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
Order deny,allow
Deny from all
</IfModule>
</Files>
#AIOWPS_PINGBACK_HTACCESS_RULES_END
#AIOWPS_DEBUG_LOG_BLOCK_HTACCESS_RULES_START
<Files debug.log>
<IfModule mod_authz_core.c>
Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
Order deny,allow
Deny from all
</IfModule>
</Files>
#AIOWPS_DEBUG_LOG_BLOCK_HTACCESS_RULES_END
# END All In One WP Security

Redirect 301 /granddraw https://keepchabadoncampusgrowing.org/granddraw/chabad-at-university-of-michigan
Redirect 301 /medinsu https://www.travelinsurancecenter.com/eng/information/cm_quote.cfm?line=tx_max&affiliate=umchabad
Redirect 301 /medtrvinsu https://www.travelinsurancecenter.com/eng/information/cm_quote.cfm?line=trvsf_clsc&affiliate=umchabad
Redirect 301 /joinchabad https://docs.google.com/forms/d/e/1FAIpQLSdL3QhdkI7XXfLeR1AYd5MaVN4GXfMSDgk6Jc7yp9AXIWwbgw/viewform
Redirect 301 /staffbirthright https://docs.google.com/forms/d/1bsehKyl9gYere0xSqb5JWV7TjxPWjbhG9Uom8p7Fj8I/viewform
Redirect 301 /highholidays https://www.jewmich.com/highholiday
Redirect 301 /challah https://docs.google.com/forms/d/e/1FAIpQLSeN4h0aM6LFb7fEwTzHPrbhhn0YkiO8utqF8ByTtyvPsMaTMA/viewform?usp=sf_link



# BEGIN WordPress
# The directives (lines) between `BEGIN WordPress` and `END WordPress` are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

# Block the include-only files.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^wp-admin/includes/ - [F,L]
RewriteRule ^wp-content/.+\.php - [F,L]
RewriteRule !^wp-includes/ - [S=3]
RewriteRule ^wp-includes/[^/]+\.php$ - [F,L]
RewriteRule ^wp-includes/js/tinymce/langs/.+\.php - [F,L]
RewriteRule ^wp-includes/theme-compat/ - [F,L]
</IfModule>

# BEGIN Expire headers  
<ifModule mod_expires.c>  
ExpiresActive On  
ExpiresDefault "access plus 5 seconds"  
ExpiresByType image/x-icon "access plus 1 week"  
ExpiresByType image/jpeg "access plus 1 week"  
ExpiresByType image/png "access plus 1 week"  
ExpiresByType image/gif "access plus 1 week"  
ExpiresByType application/x-shockwave-flash "access plus 1 week"  
ExpiresByType text/css "access plus 2 weeks"  
ExpiresByType text/javascript "access plus 2 weeks"  
ExpiresByType application/javascript "access plus 2 weeks"  
ExpiresByType application/x-javascript "access plus 2 weeks"  
</ifModule>  
# END Expire headers  
